@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'icones';
    src: url(./assets/font/icones.ttf);
}
body{
    background-color:#1D232A;
    color: white;
    font-family: 'Open sans',"icones",sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 12px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
    cursor: pointer;
}
.cabecalho__noticacao i::before{
    content: "\e906";
    font-size: 24px;
}
.cabecalho__logo{
    width: 5%;
}
.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 25vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}
.menu-lateral__ativo{
    left:0;
    transition: .25s;
}
.menu-lateral__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
}
.menu-lateral__link{
    color: #95999C;
    height: 64px;
    padding-left: 64px;
    display: flex;
    align-items: center;
}
.menu-lateral__link--ativo{
    color: #fff;
    padding-left: 56px;
    border-left: 8px solid #fff;
}
 .menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
} 
.menu-lateral__link--inicio::before{
    content: "\e902";
}
.menu-lateral__link--videos::before{
    content: "\e90e";
}
.menu-lateral__link--picos::before{
    content: "\e909";
}
.menu-lateral__link--integrantes::before{
    content: "\e903";
}
.menu-lateral__link--camisas::before{
    content: "\e900";
}
.menu-lateral__link--pinturas::before{
    content: "\e90a";
}

.foto-italo{
    border-radius: 400px;
    width: 20%;
    transition: transform 0.3s ease-in-out;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0;
    gap: 12%;
}
.titulo{
    font-size: 28px;
}
.nome__destaque{
    font-size: 44px;
    font-weight: bold;
}
.subtitulo{
    font-size: 32px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.redes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
}
.redes-rede{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    border: 3px solid #15191C;
    border-radius: 22px;
    padding: 12px;
    transition: transform 0.2s ease-in-out;
}
.redes__imagem{
    width: 6%;
}
.redes__imagem--instagram{
    margin-left: 22px;
}
.redes-rede__github{
    margin-right: 16px;
}
.imagem--whatsapp{
    width: 5%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: transform 0.2s ease-in-out;
}
.imagem--whatsapp:hover{
    transform: scale(1.2);
}
.redes-rede:hover{
    transform: scale(1.2);
}
.foto-italo:hover{
    transform: scale(1.1);
}
.titulo-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    margin: 54px 0 42px 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.content--cards{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 92%;
    margin: 28px 0 0 28px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}

.card{
    background: #15191C;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #26395338;
    color: #fff;
}
.mediaCard{
    background: url(./assets/img/csshtmlfull.png) center/cover;
    height: 250px;
    width: 100%;
}
.topCard{
    padding: 20px;
    padding-top: 22px;
    text-align: center;
}
.bottomCard{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.action--ancora{
    border: 3px solid #fff;
    padding: 4px;
    border-radius: 16px;
    background-color: azure;
    color: #15191C;
    font-weight: bold;
}
.ver-mais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 54px 0 42px 0;  
    font-family: "Roboto",sans-serif;
    font-weight: bold;  
}
.mediaCard--htmlCss{
    background: url(./assets/img/htmlCss.png) center/cover;
}
.mediaCard--javascriptform{
    background: url(./assets/img/JavascriptFormacao.png) center/cover;
}
.mediaCard--java{
    background: url(./assets/img/java.png) center/cover;
}
.mediaCard--javascriptweb{
    background: url(./assets/img/javascriptweb.png) center/cover;
}
.mediaCard--requisicoes{
    background: url(./assets/img/requisicoes.png) center/cover;
}
.mediaCard--git{
    background: url(./assets/img/git.png) center/cover;
}
.mediaCard--flexgrid{
    background: url(./assets/img/gridflex.png) center/cover;

}
.mediaCard--bd{
    background: url(./assets/img/udemyBD.jpg) center/cover;
}


@media (max-width: 1200px){
    .cabecalho__logo{
        width: 25%;
    }
    .menu-lateral{
        display: flex;
        flex-direction: column;
        background-color: #15191C;
        width: 65vw;
        height: 100vh;
        position: absolute;
        left: -100vw;
        transition: .25s;
    }
    .menu-lateral__ativo{
        left:0;
        transition: .25s;
    }
    .principal{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 10% 1% 0 1%;
        gap: 12%;
        height: 100%;
    }
    .foto-italo{
        border-radius: 400px;
        width: 40%;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 8%;
    }
    .redes{
        display: grid;
        gap: 16px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        align-items: center;
    }
    .redes-rede{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border: 3px solid #15191C;
        border-radius: 22px;
        padding: 18px;
        transition: transform 0.2s ease-in-out;
    }
    .redes__imagem{
        width: 15%;
    }
    .redes-rede__github--teste{
        margin-bottom: 28px;
    }
    .imagem--whatsapp{
        width: 12%;
        position: absolute;
        right: 20px;
        bottom: 20px;
        transition: transform 0.2s ease-in-out;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    .bottomCard{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    .content--cards{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 90%;
        margin: 28px 0 0 20px;
        font-family: "Roboto",sans-serif;
    }

    .mediaCard{ 
        height: 250px;
        width: 100%;
        border-radius: 6px;
    }
    .card{
        background: #15191C;
        border-radius: 20px;
        box-shadow: 0px 2px 23px #26395338;
        color: #fff;
        width: 100%;
    }
}